<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .main{
            width: 100vw;
            height: 100vh;
            background-color: #b6dca3;
        }
        .code{
            padding: 20px 20px;
        }
        .list-player{
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .list-player-item{
            margin: 0 30px 50px;
            border-radius: 10px;
        }
        .every-teammate{
            height: 100px;
            background-color: white;
        }
        .header-item{
            height: 30px;
        }
        .body-item{
            height: 70px;
            border: 3px solid red;
        }
        .dealer{
            height: 240px;
        }
        .dealer .start{
            flex-direction: column; 
            padding: 10px 0px;
        }
        .dealer .start button{
            width: 150px;
        }
        .dealer .body{
            background-color: greenyellow;
            border-radius: 15px;
            padding: 24px 5px
        }
        .dealer .body .list-dealer-card{
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .dealer .body .list-dealer-card .list-dealer-card-item{
            margin: 0 8px;
            padding: 0;
        }
        .dealer .body .list-dealer-card .list-dealer-card-item .item{
            height: 192px;
        }
        .dealer .end{
            flex-direction: column; 
            padding: 10px 0px;
        }
        .dealer .end button{
            margin-top: 24px;
            width: 150px;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="code">
            <p style="display: inline-block;">Mã phòng : </p>
            <h4 style="display: inline-block;"> QWERTF </h4>
        </div>
        <div class="teammate">
            <ul class="list-group row list-player" >
                <li class="list-group-item col-2 list-player-item" >
                    <div class="every-teammate">
                        <div class="header-item d-flex justify-content-center">
                            <div class="w-75 clearfix">
                                <p class="float-start">Player 1</p>
                                <p class="float-end">Cược : 2</p>
                            </div>
                        </div>
                        <div class="body-item">
                            <div class="number-card">
                                5
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item col-2 list-player-item">
                    <div class="every-teammate">
                        <div class="header-item d-flex justify-content-center">
                            <div class="w-75 clearfix">
                                <p class="float-start">Player 1</p>
                                <p class="float-end">Cược : 2</p>
                            </div>
                        </div>
                        <div class="body-item">
                            <div class="number-card">
                                5
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item col-2 list-player-item">
                    <div class="every-teammate">
                        <div class="header-item d-flex justify-content-center">
                            <div class="w-75 clearfix">
                                <p class="float-start">Player 1</p>
                                <p class="float-end">Cược : 2</p>
                            </div>
                        </div>
                        <div class="body-item">
                            <div class="number-card">
                                5
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item col-2 list-player-item">
                    <div class="every-teammate">
                        <div class="header-item d-flex justify-content-center">
                            <div class="w-75 clearfix">
                                <p class="float-start">Player 1</p>
                                <p class="float-end">Cược : 2</p>
                            </div>
                        </div>
                        <div class="body-item">
                            <div class="number-card">
                                5
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item col-2 list-player-item">
                    <div class="every-teammate">
                        <div class="header-item d-flex justify-content-center">
                            <div class="w-75 clearfix">
                                <p class="float-start">Player 1</p>
                                <p class="float-end">Cược : 2</p>
                            </div>
                        </div>
                        <div class="body-item">
                            <div class="number-card">
                                5
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="dealer row">
            <div class="start col-3 d-flex justify-content-around align-items-center" >
                <button type="button" class="btn btn-info">Phát bài</button>
                <button type="button" class="btn btn-secondary">Chơi lại</button>
                <button type="button" class="btn btn-danger">Thoát</button>
            </div>
            <div class="body col-6">
                <div>
                    <ul class="list-group row list-dealer-card" >
                        <li class="list-group-item col-2 list-dealer-card-item" >
                            <div class="item">  card </div>
                        </li>
                        <li class="list-group-item col-2 list-dealer-card-item" >
                            <div class="item">  card </div>
                        </li>
                        <li class="list-group-item col-2 list-dealer-card-item" >
                            <div class="item">  card </div>
                        </li>
                        <li class="list-group-item col-2 list-dealer-card-item" >
                            <div class="item">  card </div>
                        </li>
                        <li class="list-group-item col-2 list-dealer-card-item" >
                            <div class="item">  card </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="end col-3 d-flex justify-content-start align-items-center">
                <button type="button" class="btn btn-success">Rút bài</button>
            </div>
        </div>

    </div>
    
</body>
</html>