
.main {
    background-color: var(--primary-color);
    height: 100vh;
    width: 100vw;
    padding: 20px 60px;
}

.room-info {
    display: flex;
    height: 150px;
}

.room-info__code {
    background-color: var(--white-color);
    display: flex;
    height: 40px;
    text-align: center;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    box-shadow: 0 2px 1px var(--shadow-color);
    color: var(--text-color);
}

/* .dealer-card {
    background-color: var(--white-color);
    display: flex;
    justify-content: space-around;
    height: 150px;
    border-radius: 2px;
    box-shadow: 2px 2px var(--shadow-color);
    padding: 20px;
} */

.dealer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--shadow-color);
    justify-content: space-between;
    height: 160px;
}

.dealer__name {
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--text-color);
    margin-bottom: 5px;
}

.player-list {
    margin: 50px 120px 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    height: 17vh;
    align-items: center;
}

.player-item {
    text-align: center;
    background-color: var(--white-color);
    display: flex;
    height: 100%;
    width: 120px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 2px 2px var(--shadow-color);
    margin: 0;
}

.player-item__name {
    margin-bottom: 5px;
    font-size: 1.4rem;
}

.player-item__img {
    width: 100%;
    margin-bottom: 5px;
}

.player-item__card-number{
    
    font-size: 1.4rem;
}

.player-area {
    margin-top: 80px;
    display: flex;
    /* justify-content: space-evenly; */
}

.exit{
    display: flex;
    align-items: flex-end;
}


.player-bet {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.player-bet__input{
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.4rem;
    height: 40px;
    
}

.player-bet__btn {
    margin-top: 10px;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--shadow-color);
    justify-content: space-between;
    height: 160px;
}

.player__name {
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin-bottom: 10px;
}

.player-control {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.done-btn {
    margin-top: 10px;
}

